body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1b1b2f98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.logo {
  background-image: url('https://raw.githubusercontent.com/harunfr/patates-baski-3000/main/logo.png');
  height: 50px;
  width: 50px;
}

h1 {
  color: #fff;
  margin-left: 30px;
}

button {
  font-family: inherit;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #e94560;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:not(.selected-template):hover {
  opacity: 0.7;
}

#template-selectors {
  margin: 20px 0 25px 0;
}

#template-selectors button {
  margin: 0 10px;
}

.selected-template {
  background-color: #884bc8;
}

#download {
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 50px;
}

.main {
  /* display: grid; */
  /* grid-template-columns: 840px 1fr; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#canvas {
  /* border: 2px solid green; */
}

.tools {
  /* border: 2px solid blueviolet; */
  display: grid;
  grid-template-columns:1fr;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}

input[type='text'] {
  height: 20px;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
  /* cursor: pointer;
  border: 3px solid greenyellow;
  width: 88px;
  border-radius: 5px; */
}

label[for='add-photo'] {
  color: #fff;
  margin-left: 30px;
  cursor: pointer;
  border: 2px solid blue;
  padding: 10px;
  margin: 0 auto;
}

#add-url-photo {
  background-color: blue;
}

/* Polish */
